
body{
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    background: transparent linear-gradient(241deg, #5A8BB9 0%, #ECF6FF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;

}
*{
	font-family: "Montserrat";
	font-weight: 400;
}
a,a:hover{text-decoration: none;color: #fff;}
.no-padding{padding: 0px !important;}
.no-margin{margin: 0px !important;}
input:focus{
    outline: 0px !important;
    border-color: #000 !important;
    box-shadow:none !important;
}
input::placeholder{color: #95989A;}
.wl_form_mx_width{
    max-width: 868px;
    margin: 0 auto;
}




.wl_main_wrapper{
    width: 100%;
    height: 100vh;
}
.wl_signup_form_main{
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 40px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.2);
}
.wl_signup_header{
    width: 100%;
    height: auto;
    padding: 60px 50px 60px 91px;
    background: transparent linear-gradient(89deg, #30679A 0%, #EAF5FE 100%) 0% 0% no-repeat padding-box;
    border-radius: 40px 40px 0px 0px;
}
.wl_signup_header h4{
    font-family: "MontserratBold";
    font-size: 25px;
    text-align: left;
    letter-spacing: 0;
    color: #FFFFFF;
    margin: 0;
}
.wl_signup_body{
    background: #fff;
    border-radius: 0px 0px 40px 40px;
    padding: 60px 150px 60px;
}
.wl_signup_form label{
    margin: 0px;
    font-family: "MontserratBold";
    color: #000;
    font-size: 14px;
}
.wl_signup_form input{
    font-size: 16px;
    border: 0px;
    border-bottom: 1px solid #95989A;
    border-radius: 0px;
    padding: 5px 0px;
    color: #000;
    height: 24px;
}
.wl_signup_form .remember{
    text-align: left;
    font-family: "Montserrat" ;
    font-size:  14px ;
    letter-spacing: 0;
    color: #cccccc;
    padding-top: 3px;
}
.custom-radio .custom-control-label.remember::before{
    border: 1px solid #95989A;
    background: #fff;
}
.forgot_pass{
    float: right;
}
.wl_password_eye{
    position: relative;
}
.wl_hidden_pass{
    position: absolute;
    top: -5px;
    right: 0;
    cursor: pointer;
}
.wl_social_login{
    width: 100%;
    height: auto;
}
.wl_social_login label{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: "MontserratBold";
    color: #000;
    font-size: 14px;
}
.wl_google_btn,.wl_fb_btn{
    width: 100%;
    font-size: 20px;
    font-family: "MontserratBold";
    background: #fff;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    padding: 10px 15px;
}

.wl_fb_btn{
    background: #375D8F;
    color: #fff;
}
.wl_theme_btn{
    width: 123px;
    height: 37px;
    background: #5A8BB9 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 5px #5A8BB94D !important;
    border-radius: 50px;
    color: #fff;
    font-family: "MontserratBold";
    float: right;
    font-size: 18px;
    margin-top: 137px;
    border: 0px;
    transition: all .4s;
    cursor: pointer;
}
.wl_theme_btn a{
    color: #fff;
    font-family: "MontserratBold";
}
.wl_google_btn:hover,.wl_fb_btn:hover,.wl_google_btn:focus,.wl_fb_btn:focus {
    box-shadow: 0px 7px 10px #929eaa;
}
.wl_theme_btn:focus{
    border: 1px solid #30679A;
    outline: none !important;
}
.wl_theme_btn:hover{
    background: #30679a !important;
}
.wl_back{
    float: left;
    border: 1px solid #30679A;
    background: #fff;    
    box-shadow: none !important;
}
.wl_back{
    color: #5A8BB9;
    font-family: "Montserrat";
}
.wl_back:hover{color: #fff;font-family: "MontserratBold";}
.wl_back:hover{box-shadow: 0px 5px 5px #5A8BB94D !important;}
.forgot_pass label{color: #30679A;}















 /* wide screen end */
 @media (min-width:992px) and (max-width:1900px){
    .wl_form_mx_width {
        max-width: 540px; 
    }
    .wl_theme_btn {margin: 70px 0 20px;}
    .wl_signup_header h4 {font-size: 14px; }
    img[alt="Logo"] {  width: 60px !important; }
    .wl_signup_form label { font-size: 9px; }
    .wl_signup_form input { 
        font-size: 12px !important;
        padding: 2px 0px 5px; 
        height: 20px;
    }
    .wl_signup_form .remember {font-size: 9px; padding-top:7px !important;margin-top: 5px;}
    .wl_google_btn, .wl_fb_btn { 
        font-size: 12px;
        padding: 6px 17px;
    }
    .wl_theme_btn {
        width: 70px;
        height: 24px;
        font-size: 11px;
    }
    .wl_main_wrapper { height: 100vh; }
    .wl_signup_header { 
        padding: 32px 37px 32px 55px;
        border-radius: 20px 20px 0px 0px;
    }
    .wl_signup_body { 
        border-radius: 0px 0px 20px 20px;
        padding: 6px 90px;
        margin-top: 22px;
    }
    .wl_google_btn img, .wl_fb_btn img{
        width: 18px !important;
    }
    .wl_hidden_pass{width: 15px;top: -8px;}
    .wl_signup_form .form-group{
        margin-bottom: 0px;
    }
    .custom-control{margin-top: 5px !important;}


    /* old */
    .wl_signup_form_main{margin: 30px 0px;}
    /* .wl_main_wrapper{ height: auto;} */ 
}
/* wide screen end */
/* desktop screen */
@media (min-width:768px) and (max-width:991px){

    .wl_form_mx_width {
        max-width: 540px; 
    }
    .wl_theme_btn {margin: 70px 0 20px;}
    .wl_signup_header h4 {font-size: 14px; }
    img[alt="Logo"] {  width: 60px !important; }
    .wl_signup_form label { font-size: 9px; }
    .wl_signup_form input { 
         font-size: 12px !important;
        padding: 2px 0px 5px; 
        height: 20px;
    }
    .wl_signup_form .remember {font-size: 9px; padding-top:7px !important;margin-top: 5px;}
    .wl_google_btn, .wl_fb_btn { 
        font-size: 12px;
        padding: 6px 17px;
    }
    .wl_theme_btn {
        width: 70px;
        height: 24px;
        font-size: 11px;
    }
    .wl_main_wrapper { height: 100vh; }
    .wl_signup_header { 
        padding: 32px 37px 32px 55px;
        border-radius: 20px 20px 0px 0px;
    }
    .wl_signup_body { 
        border-radius: 0px 0px 20px 20px;
        padding: 6px 90px;
        margin-top: 22px;
    }
    .wl_google_btn img, .wl_fb_btn img{
        width: 18px !important;
    }
    .wl_hidden_pass{width: 15px;top: -8px;}
    .wl_signup_form .form-group{
        margin-bottom: 0px;
    }
    .custom-control{margin-top: 15px;}
 
    /* old */
    .wl_signup_form_main{margin: 30px 0px;}
    /* .wl_main_wrapper{ height: auto;} */
}
/* desktop screen end */
/* tab screen */
@media (min-width:567px) and (max-width:768px){

     .wl_form_mx_width {
        max-width: 540px; 
    }
    .wl_theme_btn {margin: 70px 0 20px;}
    .wl_signup_header h4 {font-size: 14px; }
    img[alt="Logo"] {  width: 60px !important; }
    .wl_signup_form label { font-size: 9px; }
    .wl_signup_form input { 
         font-size: 12px !important;
        padding: 2px 0px 5px; 
        height: 20px;
    }
    .wl_signup_form .remember {font-size: 9px; padding-top:7px !important;margin-top: 5px;}
    .wl_google_btn, .wl_fb_btn { 
        font-size: 12px;
        padding: 6px 17px;
    }
    .wl_theme_btn {
        width: 70px;
        height: 24px;
        font-size: 11px;
    }
    .wl_main_wrapper { height: 100vh; }
    .wl_signup_header { 
        padding: 32px 37px 32px 55px;
        border-radius: 20px 20px 0px 0px;
    }
    .wl_signup_body { 
        border-radius: 0px 0px 20px 20px;
        padding: 6px 90px;
        margin-top: 22px;
    }
    .wl_google_btn img, .wl_fb_btn img{
        width: 18px !important;
    }
    .wl_hidden_pass{width: 15px;top: -8px;}
    .wl_signup_form .form-group{
        margin-bottom: 0px;
    }
    .custom-control{margin-top: 15px;} 
 
    /* old */
    /* .wl_signup_header h4{font-size: 20px;}
    .wl_signup_form_main{margin: 30px 0px;}
    .wl_main_wrapper{ height: auto;} 
    .wl_theme_btn{float: none;}
     .wl_bottom_btn{
        width: 100%;
        height: auto;
        text-align: center;
        float: left;
    } */
}
/* tab screen end */
/* mobile screen */
@media (min-width:0px) and (max-width:567px){


    .wl_form_mx_width {
        max-width: 540px; 
    }
    .wl_theme_btn {margin: 70px 0 20px;}
    .wl_signup_header h4 {font-size: 14px; }
    img[alt="Logo"] {  width: 60px !important; }
    .wl_signup_form label { font-size: 9px; }
    .wl_signup_form input { 
         font-size: 12px !important;
        padding: 2px 0px 5px; 
        height: 20px;
    }
    .wl_signup_form .remember {font-size: 9px; padding-top:7px !important;margin-top: 5px;}
    .wl_google_btn, .wl_fb_btn { 
        font-size: 12px;
        padding: 6px 17px;
    }
    .wl_theme_btn {
        width: 70px;
        height: 24px;
        font-size: 11px;
    }
    .wl_main_wrapper { height: 100vh; }
    .wl_signup_header { 
        padding: 32px 37px 32px 55px;
        border-radius: 20px 20px 0px 0px;
    }
    .wl_signup_body { 
        border-radius: 0px 0px 20px 20px;
        padding: 6px 90px;
        margin-top: 22px;
    }
    .wl_google_btn img, .wl_fb_btn img{
        width: 18px !important;
    }
    .wl_hidden_pass{width: 15px;top: -8px;}
    .wl_signup_form .form-group{
        margin-bottom: 0px;
    }
    .custom-control{margin-top: 15px;}
    .wl_order-xs-2{order: 2;} 
    .wl_order-xs-2 h4{text-align: center;}
   .wl_order-xs-1{order: 1;text-align: center;}
   .wl_order-xs-1 img{
       float: initial !important;
       margin-bottom: 10px;
   }
   .wl_signup_header {padding: 32px 37px 32px 37px;}
 
    /* old */
    /* .wl_signup_body,.wl_signup_header{
        padding: 30px;
    }
    .wl_signup_header h4{font-size: 16px;}
    .wl_theme_btn{margin-top: 30px;}
    .wl_order-xs-2{order: 2;} 
     .wl_order-xs-2 h4{text-align: center;}
    .wl_order-xs-1{order: 1;text-align: center;}
    .wl_order-xs-1 img{
        float: initial !important;
        margin-bottom: 10px;
    }
    .wl_signup_form_main{margin: 30px 0px;}
    .wl_main_wrapper{ height: auto;}
    .wl_theme_btn{float: none;}
    .wl_bottom_btn{
        width: 100%;
        height: auto;
        text-align: center;
        float: left;
    } */
}
@media (min-width:0px) and (max-width:400px){
    .wl_order-xs-2{order: 2;} 
    .wl_order-xs-2 h4{text-align: center;}
   .wl_order-xs-1{order: 1;text-align: center;}
   .wl_order-xs-1 img{
       float: initial !important;
       margin-bottom: 10px;
   }
   .wl_signup_header {padding: 32px 37px 32px 37px;}
   .wl_signup_body {padding: 6px 40px;}
}
/* mobile screen end */