

body{
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    background: transparent linear-gradient(241deg, #5A8BB9 0%, #ECF6FF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;

}
*{
	font-family: "Montserrat";
	font-weight: 400;
}
a,a:hover{text-decoration: none;color: #fff;}
.no-padding{padding: 0px !important;}
.no-margin{margin: 0px !important;}
input:focus{
    outline: 0px !important;
    border-color: #000 !important;
    box-shadow:none !important;
}
input::placeholder{color: #95989A;}
.ul_form_mx_width{
  max-width: 868px;
  margin: 0 auto;
} 
.ul_main_wrapper{
  width: 100%; 
}
.ul_signup_form_main{
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 40px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.2);
}
.ul_signup_header{
    width: 100%;
    height: auto;
    padding: 60px 50px 60px 91px;
    background: transparent linear-gradient(89deg, #30679A 0%, #EAF5FE 100%) 0% 0% no-repeat padding-box;
    border-radius: 40px 40px 0px 0px;
    position: relative;
}
.ul_signup_header h4{
    font-family: "MontserratBold";
    font-size: 25px;
    text-align: left;
    letter-spacing: 0;
    color: #FFFFFF;
    margin: 0;
}
.ul_signup_body{
    background: #fff;
    border-radius: 0px 0px 40px 40px;
}
.ul_project_modals .ul_theme_btn{
    width:100px;
    height: 37px;
    background: #5A8BB9 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 5px #5A8BB94D !important;
    border-radius: 50px;
    color: #fff;
    font-family: "MontserratBold";
    float: right;
    font-size: 16px;
    border: 0px;
    transition: all .4s;
    cursor: pointer;
    margin: 0px !important;
}
.ul_project_modals .ul_theme_btn a{
    color: #fff;
    font-family: "MontserratBold";
}
.ul_project_modals .ul_theme_btn:focus{
    outline: none !important;
    border: 1px solid #30679A;
}
.ul_project_modals .ul_theme_btn:hover{
    background: #30679a !important;
}

.ul_project_modals .ul_modal_btn{
    float: left;
    border: 1px solid #30679A;
    background: #fff;    
    box-shadow: none !important;
}
.ul_project_modals .ul_modal_btn{
    color: #5A8BB9;
    font-family: "Montserrat";
}
.ul_project_modals .ul_modal_btn:hover{color: #fff;;box-shadow: 0px 5px 5px #5A8BB94D !important;}

.ul_project_modals{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #95989A;
    padding: 6px 0px 0px;
}
.ul_project_modals ul{
    padding: 0px 150px;
    width: 100%;
    height: auto;
    margin: 0;
    text-align: left;
}
.ul_project_modals ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
.ul_modal_btn i{
    background: #5a8bb9;
    color: #fff;
    padding: 5px 7px;
    border-radius: 50px;
    font-size: 14px;
    float: left;
    height: 15px;
    width: 15px;
}
.ul_modal_btn:hover i{
    background: #fff;
    color: #5a8bb9;
}
.ul_theme_btn.ul_sub{
    width: 100%;
    padding: 0px 10px;
}
.ul_project_scroll{
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
    padding: 10px 150px;
    border-bottom: 1px solid #95989A;
}
.ul_project_scroll::-webkit-scrollbar-track
{
	background-color: #EAF5FE;
}

.ul_project_list_img {
	position: absolute;
    top: 8px;
    right: 7px;
    cursor: pointer;
    width: 16px !important;
}

.ul_projects_list img{
  border-radius: 50%;
}
.ul_modal .modal-body{
  padding: 0px !important;
}

.ul_project_scroll::-webkit-scrollbar
{
	width: 12px;
	background-color: #5A8BB9;
}
/* Buttons */
.ul_project_scroll::-webkit-scrollbar-button:single-button {
    background-color: #5A8BB9;
    display: block;
    border-style: solid;
    height: 15px;
    width: 16px;
  }
  /* Up */
  .ul_project_scroll::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #fff transparent;
  }

  .ul_project_scroll::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #fff transparent;
  }
  /* Down */
  .ul_project_scroll::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 6px 6px 0 6px;
    border-color: #fff transparent transparent transparent;
  }

  .ul_project_scroll::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #000 transparent transparent transparent;
  }

.ul_project_scroll::-webkit-scrollbar-thumb
{
    background-color: #5A8BB9;
    border: 1px solid #30679A;
}
.ul_project{
    text-align: left !important;
    padding: 0 !important;
    list-style: none;
}
.ul_project li{
    width: 100%;
    position: relative;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 5px 5px #D9D9D94D;
    border-radius: 20px;
    margin-bottom: 7px;
}
.ul_project li .ul_projects_list:focus,.ul_project li:focus,.ul_project li.active{
  outline: none;
  box-shadow: 0px 0px 3px 3px #a6c8ff !important;
}
.ul_projects_list{
    width: 100%;
    height: auto;
    position: relative;
    background: #fff;
    border-left: 14px solid #B8E08C;
    border-radius: 20px;
    padding: 10px 0px 0px;;
    padding-left: 10px;
}
.ul_projects_list.ul_red{
    border-left: 14px solid #FF6161 !important; 
}
.ul_projects_list.ul_green{
  border-left: 14px solid #B8E08C !important; 
}
.ul_projects_list.ul_orange{
  border-left: 14px solid #FFD44B !important; 
}
.ul_projects_list i {
  background: #5A8BB9;
  color: #fff;
  padding: 4px 5px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
  width: 15px;
  z-index: 999;
  height: 15px;
}
.ul_user_label {
  font-size: 10px !important;
  left: -12px !important;
  top: 42% !important;
  background: transparent !important;
  padding: 0 !important;
}
.ul_red i.ul_user_label,.ul_orange i.ul_user_label{
  position: absolute !important;
  font-size: 12px;
  color: #fff;
  z-index: 9;
  left: -11px;
  top: 43%;
  background: transparent;
  right: auto;
  padding: 0 !important;
  border-radius: 0px !important;
} 
.ul_orange i.ul_user_label{
  font-size: 10px;
}

.ul_projects_list h4{
    font-size: 14px;
    font-family: "MontserratBold";
    margin: 0;
    cursor: pointer;
}
.ul_projects_list p{
    font-size: 12px;
    margin: 0;
}
.ul_signup_form label,.ul_signup_form label u{
    margin: 0px;
    font-family: "MontserratBold";
    color: #000;
    font-size: 14px;
}
.ul_signup_form input{
    font-size: 16px;
    border: 0px;
    border-bottom: 1px solid #95989A;
    border-radius: 0px;
    padding: 5px 0px;
    color: #000;
    height: 24px;
}
.ul_signup_form .ul_remember{
    text-align: left;
    font-family: "Montserrat" ;
    font-size:  16px ;
    letter-spacing: 0;
    color: #cccccc;
    padding:5px 0px;;
}
.ul_signup_form{
    padding: 8px 75px;
}
/* custom select */
.ul_select-box {
    position: relative;
    display: block;
    width: 100%;
    font-size: 16px;
    border: 0px;
    border-radius: 0px;
    padding: 5px 0px;
    color: #000;
    height: 24px;
  }
  .ul_select-box__current {
    position: relative;
    cursor: pointer;
    outline: none;
    border-bottom: 1px solid #95989A;
  }
  .ul_select-box__current:focus{
    border-bottom: 2px solid #30679A;
  }
  .ul_select-box__current:focus + .ul_select-box__list {
    opacity: 1;
    -webkit-animation-name: none;
            animation-name: none;
  }
  .ul_select-box__current:focus + .ul_select-box__list .ul_select-box__option {
    cursor: pointer;
  }
  .ul_select-box__current:focus .ul_select-box__icon {
    -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
  }
  .ul_select-box__icon {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 14px;
    transition: 0.2s ease;
  }
  .ul_select-box__value {
    display: flex;
  }
  .ul_select-box__input {
    display: none;
  }
  .ul_select-box__input:checked + .ul_select-box__input-text {
    display: block;
  }
  .ul_select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    background-color: #fff;
  }
  .ul_select-box__list {
    position: absolute;
    top: 35px;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    -webkit-animation-name: HideList;
            animation-name: HideList;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
            animation-timing-function: step-start;
            box-shadow: 0px 3px 6px #00000029;
  }
  .ul_select-box__list li label{
    font-family: "Montserrat";
    font-size: 18px;
    border-bottom: 1px solid #eee;
  }
  .ul_select-box__option {
    display: block;
    padding: 20px;
    background-color: #fff;
  }
  .ul_select-box__option:hover, .ul_select-box__option:focus {
    color: #546c84;
    background-color: #fbfbfb;
  }
  
  @-webkit-keyframes HideList {
    from {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
    to {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
    }
  }
  
  @keyframes HideList {
    from {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
    to {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
    }
  }
/* modal css */
.ul_modal .modal-content{
  border: 0px !important;
  background: none !important;
}
.ul_modal_closed{
  background: #5A8BB9;
    color: #e4f1fb;
    padding: 5px 8px 6px 7px;
    border-radius: 50px;
    position: absolute;
    top: 15px;
    right: 27px;
    cursor: pointer;
    z-index: 999;
}
.ul_modal .ul_signup_form{
  padding: 37px 75px;
}
/* bottom btn */
.ul_theme_btn{
  width: 123px;
  height: 37px;
  background: #5A8BB9 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 5px #5A8BB94D !important;
  border-radius: 50px;
  color: #fff;
  font-family: "MontserratBold";
  font-size: 18px;
  border: 0px;
  transition: all .4s;
  cursor: pointer;
  margin: 20px;
}
.ul_theme_btn a{
  color: #fff;
  font-family: "MontserratBold";
}
.ul_google_btn:hover,.ul_fb_btn:hover,.ul_google_btn:focus,.ul_fb_btn:focus {
  box-shadow: 0px 7px 10px #929eaa;
}
.ul_theme_btn:focus{
  border: 1px solid #30679A;
  outline: none !important;
}
.ul_theme_btn:hover{
  background: #30679a !important;
}
.ul_back{
  float: left;
  border: 1px solid #30679A;
  background: #fff;    
  box-shadow: none !important;
}
.ul_back{
  color: #5A8BB9;
  font-family: "Montserrat";
}
.ul_back:hover{color: #fff;font-family: "MontserratBold";}
.ul_back:hover{box-shadow: 0px 5px 5px #5A8BB94D !important;}
.ul_paste_input{
  height: 80px !important;
  border: 1px solid #D9D9D9 !important;
  padding: 0px 13px 30px 11px !important;
  font-size: 14px !important;
}
.ul_paste_input:focus{
  border: 1px solid #D9D9D9 !important;
}
.ul_paste_btn .input-group-text{
  background: #F8F8F8 !important;
  height: 80px !important;
  width: 80px !important;
  text-align: center !important;
  justify-content: center !important;
  cursor: pointer;
}
.ul_paste_input::placeholder{
  padding: 0px;
  color: #D9D9D9;
}
.ul_user_status{
  width: 100%;
  text-align: right;
  padding-right: 5px;
}
.ul_user_status span{
  font-size: 12px;
    padding: 0px 15px;
}
.ul_user_status span:first-child{
  border-right: 3px solid #30679A;
}
/* end */
.ul_select{position: relative;}

.ul_custom_select{
  font-size: 16px;
  border-radius: 0;
  border: none;
  background: transparent;
  width: 100%;
  overflow: hidden;
  padding: 0;
  height: auto;
  color: #000;
  border-bottom: 1px solid #95989A;
  appearance: none;
	-webkit-appearance:none
}
.ul_custom_select:focus{
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid #30679A;
}

.ul_custom_select optgroup {
  font-size: 16px;
  background: #fff;
  padding: 115px 0px;
}

.ul_custom_caret:after {
	position: absolute;
	bottom: 18px;
	right: 10px;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #30679A;
	pointer-events: none;
}
.ul_custom_select:focus .ul_custom_caret:after{
  transform: rotate(180deg) !important;
  display: none !important;
}









/* wide screen end */
@media (min-width:992px) and (max-width:1900px){
  .ul_form_mx_width {
      max-width: 540px; 
  }
  .ul_projects_list img{width: 46px;}
  .ul_user_status{line-height: 0px;}
  .ul_user_status span { font-size: 8px; }
  .ul_user_status span:last-child {padding-right: 0px;}
  .ul_width-selector-inner__control{
    font-size: 9px !important;
    min-height: 24px !important;
  }
  .ul_theme_btn {margin: 15px 0px;}
.ul_theme_btn {
    width: 70px !important;
    height: 24px !important;
    font-size: 11px !important;
}
  .ul_signup_header h4 {font-size: 14px; }
  img[alt="Logo"] {  width: 60px !important; }
  .ul_signup_form label { font-size: 9px; }
  .ul_signup_form input {font-size: 9px;
    padding: 2px 0px 5px;
    height: 15px;}
  .ul_signup_form .remember {font-size: 12px; }
  .ul_google_btn, .ul_fb_btn { 
      font-size: 14px;
      padding: 6px 17px;
  }
  .ul_project_modals .ul_theme_btn {
    width: 100%;
    height: 24px;
    font-size: 9px; 
  }
  .ul_modal_btn i {
        background: #5a8bb9;
    color: #fff;
    padding: 4px 5px;
    border-radius: 50px;
    font-size: 7px;margin-right: 5px;
}
  .ul_theme_btn.ul_sub {
    width: 100%;
  }
  .ul_project_modals ul{
    padding: 0px 70px;
  }
  .ul_project_modals ul li { 
    margin-right: 10px;
  }
  
  .ul_signup_header { 
      padding: 32px 37px 32px 55px;
      border-radius: 20px 20px 0px 0px;
  }
  .ul_signup_body { 
      border-radius: 0px 0px 20px 20px;
      padding: 0px;
      margin-top: 0px;
  }
  .ul_signup_form {
    padding: 12px 70px 8px;
}
.ul_signup_form .ul_remember{font-size: 12px;padding-top: 10px;}
.ul_width-selector-inner__control,
.ul_width-selector-inner__menu-list .ul_width-selector-inner__option{font-size: 14px;}
  .ul_project_scroll { 
    max-height: 300px; 
    padding: 6px 70px; 
}
.ul_projects_list h4{font-size: 9px;}.ul_projects_list i {font-size: 7px;}
.ul_projects_list p {font-size: 8px;}
.ul_project li{border-radius: 10px;}
.ul_projects_list.ul_red {
  border-left: 10px solid #FF6161 !important;
}
.ul_projects_list.ul_orange {
  border-left: 10px solid #FFD44B !important;
}
.ul_projects_list { 
  border-left: 10px solid #B8E08C !important;
  border-radius: 10px;
  padding: 10px 0px;
  padding-left: 10px; 
}
.ul_user_label{
  font-size: 10px !important;
    left: -10px !important;
    top: 42% !important;
    background: transparent !important;
    padding: 0 !important;
}

  .ul_google_btn img, .ul_fb_btn img{
      width: 20px !important;
  }
  .ul_hidden_pass{width: 15px;}
  .ul_signup_form .form-group{
      margin-bottom: 0px;
  }
  .custom-control{margin-top: 15px;}
  .ul_signup_form_main{margin: 30px 0px;} 
}
/* wide screen end */
/* desktop screen */
@media (min-width:768px) and (max-width:991px){

  .ul_form_mx_width {
      max-width: 540px; 
  }
  .ul_projects_list img{width: 46px;}
  .ul_user_status{line-height: 0px;}
  .ul_user_status span { font-size: 8px; }
  .ul_user_status span:last-child {padding-right: 0px;}
  .ul_width-selector-inner__control{
    font-size: 9px !important;
    min-height: 24px !important;
  }
  .ul_theme_btn {margin: 15px 0px;}
.ul_theme_btn {
    width: 70px !important;
    height: 24px !important;
    font-size: 11px !important;
}
  .ul_signup_header h4 {font-size: 14px; }
  img[alt="Logo"] {  width: 60px !important; }
  .ul_signup_form label { font-size: 9px; }
  .ul_signup_form input {font-size: 9px;
    padding: 2px 0px 5px;
    height: 15px;}
  .ul_signup_form .remember {font-size: 12px; }
  .ul_google_btn, .ul_fb_btn { 
      font-size: 14px;
      padding: 6px 17px;
  }
  .ul_theme_btn{
  width: 70px;
    height: 24px;
    font-size: 11px;
  }
  .ul_modal_btn i {
        background: #5a8bb9;
    color: #fff;
    padding: 4px 5px;
    border-radius: 50px;
    font-size: 7px;margin-right: 5px;
}
.ul_theme_btn.ul_sub {
  width: 100%;
}
.ul_project_modals ul{
  padding: 0px 70px;
}
.ul_project_modals ul li { 
  margin-right: 10px;
}
  
  .ul_signup_header { 
      padding: 32px 37px 32px 55px;
      border-radius: 20px 20px 0px 0px;
  }
  .ul_signup_body { 
      border-radius: 0px 0px 20px 20px;
      padding: 0px;
      margin-top: 0px;
  }
  .ul_signup_form {
    padding: 12px 70px 8px;
}
.ul_signup_form .ul_remember{font-size: 12px;padding-top: 10px;}
.ul_width-selector-inner__control,
.ul_width-selector-inner__menu-list .ul_width-selector-inner__option{font-size: 14px;}
  .ul_project_scroll { 
    max-height: 300px; 
    padding: 6px 70px; 
}
.ul_projects_list h4{font-size: 9px;}.ul_projects_list i {font-size: 7px;}
.ul_projects_list p {font-size: 8px;}
.ul_project li{border-radius: 10px;}
.ul_projects_list.ul_red {
  border-left: 10px solid #FF6161 !important;
}
.ul_projects_list.ul_orange {
  border-left: 10px solid #FFD44B !important;
}
.ul_projects_list { 
  border-left: 10px solid #B8E08C !important;
  border-radius: 10px;
  padding: 10px 0px;
  padding-left: 10px; 
}
.ul_user_label{
  font-size: 8px !important;
  left: -9px !important;
  top: 42% !important;
  right: auto !important;
  background: transparent !important;
  padding: 0px !important;
}
  .ul_google_btn img, .ul_fb_btn img{
      width: 18px !important;
  }
  .ul_hidden_pass{width: 15px;}
  .ul_signup_form .form-group{
      margin-bottom: 0px;
  }
  .custom-control{margin-top: 15px;}
 
  .ul_signup_form_main{margin: 30px 0px;} 
}
/* desktop screen end */
/* tab screen */
@media (min-width:567px) and (max-width:768px){

   .ul_form_mx_width {
      max-width: 540px; 
  }
  .ul_projects_list img{width: 46px;}
  .ul_user_status{line-height: 0px;}
  .ul_user_status span { font-size: 8px; }
  .ul_user_status span:last-child {padding-right: 0px;}
  .ul_width-selector-inner__control{
    font-size: 9px !important;
    min-height: 24px !important;
  }
  .ul_theme_btn {margin: 15px 0px;}
.ul_theme_btn {
    width: 70px !important;
    height: 24px !important;
    font-size: 11px !important;
}
  .ul_signup_header h4 {font-size: 14px; }
  img[alt="Logo"] {  width: 60px !important; }
  .ul_signup_form label { font-size: 9px; }
  .ul_signup_form input {font-size: 9px;
    padding: 2px 0px 5px;
    height: 15px;}
  .ul_signup_form .remember {font-size: 12px; }
  .ul_google_btn, .ul_fb_btn { 
      font-size: 14px;
      padding: 6px 17px;
  }
  .ul_project_modals .ul_theme_btn{
    width: 100%;
    height: 25px;
    font-size: 9px;  
  }
  .ul_modal_btn i {
    background: #5a8bb9;
    color: #fff;
    padding: 4px 5px;
    border-radius: 50px;
    font-size: 7px;margin-right: 5px;
}
.ul_theme_btn.ul_sub {
  width: 100%;
}
.ul_project_modals ul{
  padding: 0px 70px;
}
.ul_project_modals ul li { 
  margin-right: 10px;
}
  
  .ul_signup_header { 
      padding: 32px 37px 32px 55px;
      border-radius: 20px 20px 0px 0px;
  }
  .ul_signup_body { 
      border-radius: 0px 0px 20px 20px;
      padding: 0px;
      margin-top: 0px;
  }
  .ul_signup_form {
    padding: 12px 70px 8px;
}
.ul_signup_form .ul_remember{font-size: 12px;padding-top: 10px;}
.ul_width-selector-inner__control,
.ul_width-selector-inner__menu-list .ul_width-selector-inner__option{font-size: 14px;}
  .ul_project_scroll { 
    max-height: 300px; 
    padding: 6px 70px; 
}
.ul_projects_list h4{font-size: 9px;}.ul_projects_list i {font-size: 7px;}
.ul_projects_list p {font-size: 8px;}
.ul_project li{border-radius: 10px;}
.ul_projects_list.ul_red {
  border-left: 10px solid #FF6161 !important;
}
.ul_projects_list.ul_orange {
  border-left: 10px solid #FFD44B !important;
}
.ul_projects_list { 
  border-left: 10px solid #B8E08C !important;
  border-radius: 10px;
  padding: 10px 0px;
  padding-left: 10px; 
}
.ul_user_label{
  font-size: 8px !important;
  left: -9px !important;
  top: 42% !important;
  right: auto !important;
  background: transparent !important;
  padding: 0px !important;
}
  .ul_google_btn img, .ul_fb_btn img{
      width: 18px !important;
  }
  .ul_hidden_pass{width: 15px;}
  .ul_signup_form .form-group{
      margin-bottom: 0px;
  }
  .custom-control{margin-top: 15px;}  
}
/* tab screen end */
/* mobile screen */
@media (min-width:0px) and (max-width:567px){


  .ul_form_mx_width {
      max-width: 540px; 
  }
  .ul_projects_list img{width: 46px;}
  .ul_user_status{line-height: 0px;}
  .ul_user_status span { font-size: 8px; }
  .ul_user_status span:last-child {padding-right: 0px;}
  .ul_width-selector-inner__control{
    font-size: 9px !important;
    min-height: 24px !important;
  }
  .ul_theme_btn {margin: 15px 0px;}
.ul_theme_btn {
    width: 70px !important;
    height: 24px !important;
    font-size: 11px !important;
}
  .ul_signup_header h4 {font-size: 14px; }
  img[alt="Logo"] {  width: 60px !important; }
  .ul_signup_form label { font-size: 9px; }
  .ul_signup_form input {font-size: 9px;
    padding: 2px 0px 5px;
    height: 15px;}
  .ul_signup_form .remember {font-size: 12px; }
  .ul_google_btn, .ul_fb_btn { 
      font-size: 14px;
      padding: 6px 17px;
  }
  .ul_theme_btn{
  width: 70px;
    height: 24px;
    font-size: 11px;
  }
  .ul_modal_btn i {
        background: #5a8bb9;
    color: #fff;
    padding: 4px 5px;
    border-radius: 50px;
    font-size: 7px;margin-right: 5px;
}
.ul_theme_btn.ul_sub {
  width: 100%;
}
.ul_project_modals ul{
  padding: 0px 40px;
}
.ul_project_modals ul li { 
  margin-right: 10px;
}
  
  .ul_signup_header { 
      padding: 32px 37px 32px 55px;
      border-radius: 20px 20px 0px 0px;
  }
  .ul_signup_body { 
      border-radius: 0px 0px 20px 20px;
      padding: 0px;
      margin-top: 0px;
  }
  .ul_signup_form {
    padding: 8px 40px;
}
.ul_signup_form .ul_remember{font-size: 12px;padding-top: 10px;}
.ul_width-selector-inner__control,
.ul_width-selector-inner__menu-list .ul_width-selector-inner__option{font-size: 14px;}
  .ul_project_scroll { 
    max-height: 300px; 
    padding: 6px 40px; 
}
.ul_projects_list h4{font-size: 9px;}.ul_projects_list i {font-size: 7px;}
.ul_projects_list p {font-size: 8px;}
.ul_project li{border-radius: 10px;}
.ul_projects_list.ul_red {
  border-left: 10px solid #FF6161 !important;
}
.ul_projects_list.ul_orange {
  border-left: 10px solid #FFD44B !important;
}
.ul_projects_list { 
  border-left: 10px solid #B8E08C !important;
  border-radius: 10px;
  padding: 10px 0px;
  padding-left: 10px; 
}
.ul_user_label{
  font-size: 8px !important;
  left: -9px !important;
  top: 42% !important;
  right: auto !important;
  background: transparent !important;
  padding: 0px !important;
}
  .ul_google_btn img, .ul_fb_btn img{
      width: 18px !important;
  }
  .ul_hidden_pass{width: 15px;}
  .ul_signup_form .form-group{
      margin-bottom: 0px;
  }
  .custom-control{margin-top: 15px;}
  .ul_order-xs-2{order: 2;} 
  .ul_order-xs-2 h4{text-align: center;}
 .ul_order-xs-1{order: 1;text-align: center;}
 .ul_order-xs-1 img{
     float: initial !important;
     margin-bottom: 10px;
 }
 .ul_signup_header {padding: 32px 37px 32px 37px;}
 
}
@media (min-width:0px) and (max-width:400px){
  .ul_width-selector-inner__control{
    font-size: 9px !important;
    min-height: 24px !important;
  }
  .ul_order-xs-2{order: 2;} 
  .ul_order-xs-2 h4{text-align: center;}
 .ul_order-xs-1{order: 1;text-align: center;}
 .ul_order-xs-1 img{
     float: initial !important;
     margin-bottom: 10px;
 }
 .ul_signup_header {padding: 32px 37px 32px 37px;}
 .ul_signup_body {padding: 0px;}
}
/* mobile screen end */