body {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  background: transparent linear-gradient(241deg, #5A8BB9 0%, #ECF6FF 100%) 0% 0% no-repeat padding-box;
  opacity: 1;

}

* {
  font-family: "Montserrat";
  font-weight: 400;
}

a,
a:hover {
  text-decoration: none;
  color: #000;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

input:focus {
  outline: 0px !important;
  border-color: #000 !important;
  box-shadow: none !important;
}

input::placeholder {
  color: #95989A;
}

.pl_form_mx_width {
  max-width: 868px;
  margin: 0 auto;
}


.pl_main_wrapper {
  width: 100%;
  height: 100vh;
}

.pl_signup_form_main {
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 40px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
}

.pl_signup_header {
  width: 100%;
  height: auto;
  padding: 60px 50px 60px 91px;
  background: transparent linear-gradient(89deg, #30679A 0%, #EAF5FE 100%) 0% 0% no-repeat padding-box;
  border-radius: 40px 40px 0px 0px;
  position: relative;
}

.pl_signup_header h4 {
  font-family: "MontserratBold";
  font-size: 25px;
  text-align: left;
  letter-spacing: 0;
  color: #FFFFFF;
  margin: 0;
}

.pl_signup_body {
  background: #fff;
  border-radius: 0px 0px 40px 40px;
}

.pl_project_modals .pl_theme_btn {
  width: 100%;
  height: 37px;
  background: #5A8BB9 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 5px #5A8BB94D !important;
  border-radius: 50px;
  color: #fff;
  font-family: "MontserratBold";
  float: right;
  font-size: 16px;
  border: 0px;
  transition: all .4s;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.pl_project_modals .pl_theme_btn a {
  color: #fff;
  font-family: "MontserratBold";
}

.pl_project_modals .pl_theme_btn:focus {
  border: 1px solid #30679A;
}

.pl_project_modals .pl_theme_btn:hover {
  background: #30679a !important;
}

.pl_project_modals .pl_modal_btn {
  float: left;
  border: 1px solid #30679A;
  background: #fff;
  box-shadow: none !important;
}

.pl_project_modals .pl_modal_btn {
  color: #5A8BB9;
  font-family: "Montserrat";
}

.pl_project_modals .pl_modal_btn:hover {
  color: #fff;
  ;
  box-shadow: 0px 5px 5px #5A8BB94D !important;
}

.pl_project_modals {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #95989A;
  padding: 6px 0px 0px;
}

.pl_project_modals ul {
  padding: 0px 131px;
  width: 100%;
  height: auto;
  margin: 0;
}

.pl_orange i.pl_user_label {
  font-size: 10px;
}

.pl_projects_list.pl_orange {
  border-left: 14px solid #FFD44B !important;
}

.pl_project_modals ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.pl_modal_btn i {
  background: #5a8bb9;
  color: #fff;
  padding: 5px 7px;
  border-radius: 50px;
  font-size: 14px;
}

.pl_modal_btn:hover i {
  background: #fff;
  color: #5a8bb9;
}

.pl_theme_btn.pl_sub {
  width: 100%;
  padding: 0px 10px;
}

.pl_project_scroll {
  width: 100%;
  max-height: 525px;
  overflow-y: scroll;
  padding: 8px 131px;
  border-bottom: 1px solid #95989A;
}

.pl_project_scroll::-webkit-scrollbar-track {
  background-color: #EAF5FE;
}

.pl_project_scroll::-webkit-scrollbar {
  width: 12px;
  background-color: #5A8BB9;
}

/* Buttons */
.pl_project_scroll::-webkit-scrollbar-button:single-button {
  background-color: #5A8BB9;
  display: block;
  border-style: solid;
  height: 15px;
  width: 16px;
}

/* Up */
.pl_project_scroll::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #fff transparent;
}

.pl_project_scroll::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #fff transparent;
}

/* Down */
.pl_project_scroll::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 6px 6px 0 6px;
  border-color: #fff transparent transparent transparent;
}

.pl_project_scroll::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #000 transparent transparent transparent;
}

.pl_project_scroll::-webkit-scrollbar-thumb {
  background-color: #5A8BB9;
  border: 1px solid #30679A;
}

.pl_project {
  text-align: left !important;
  padding: 0 !important;
  list-style: none;
}

.pl_project li {
  width: 100%;
  position: relative;
  /* display: flex; */
  flex-direction: row;
  /* border: 1px solid #D9D9D9;
  box-shadow: 0px 5px 5px #D9D9D94D;
  border-radius: 10px; */
  margin-bottom: 7px;
}

.pl_project li .pl_projects_list:focus,
.pl_project li:focus,
.pl_project li.active {
  outline: none;
  box-shadow: 0px 0px 3px 3px #a6c8ff !important;
}

.pl_project li a {
  width: 100%;
  height: auto;
  color: #000;
}

.pl_projects_list {
  width: 100%;
  height: auto;
  background: #fff;
  border-left: 14px solid #B8E08C;
  border-radius: 20px;
  padding: 30px 0px;
  padding-left: 15px;
  position: relative;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 5px 5px #D9D9D94D;
  border-radius: 10px;
  flex: 1;
  cursor: pointer;
}

.zero_link {
  width: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translate(0, -50%);
  font-size: 10px;
  align-self: center;
  z-index: 9;
}

.zero_link img {
  cursor: pointer;
}

.pl_projects_list.pl_red {
  border-left: 14px solid #FF6161 !important;
}

.pl_user_label {
  position: absolute !important;
  font-size: 12px;
  color: #fff !important;
  z-index: 9;
  left: -11px;
  top: 43% !important;
  background: transparent !important;
  right: auto !important;
  padding: 0 !important;
  border-radius: 0px !important;
}

.pl_projects_list i,
.pl_projects_list img {
  /* background: #5A8BB9;
  color: #fff;
  padding: 5px 6px;
  border-radius: 50px; */
  position: absolute;
  top: 8px;
  right: 7px;
  cursor: pointer;
}

.pl_projects_list h4 {
  font-size: 14px;
  font-family: "MontserratBold";
  margin: 0;
}

.pl_projects_list p {
  font-size: 12px;
  margin: 0;
}

.pl_signup_form label,
.pl_signup_form label u {
  margin: 0px;
  font-family: "MontserratBold";
  color: #000;
  font-size: 14px;
}

.pl_signup_form input {
  font-size: 16px;
  border: 0px;
  border-bottom: 1px solid #95989A;
  border-radius: 0px;
  padding: 5px 0px;
  color: #000;
  height: 24px;
}

.pl_signup_form .pl_remember {
  text-align: left;
  font-family: "Montserrat";
  font-size: 16px;
  letter-spacing: 0;
  color: #cccccc;
  padding: 5px 0px;
  ;
}

.pl_signup_form {
  padding: 8px 146px 8px 131px;
}

.pl_custom_select {
  font-size: 16px;
  border-radius: 0;
  border: none;
  background: transparent;
  width: 100%;
  overflow: hidden;
  padding: 0;
  height: auto;
  color: #000;
  border-bottom: 1px solid #95989A;
  appearance: none;
  -webkit-appearance: none
}

.pl_custom_select:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid #30679A;
}

.pl_custom_select optgroup {
  font-size: 16px;
  background: #fff;
  padding: 115px 0px;
}

.pl_custom_caret:after {
  position: absolute;
  bottom: 18px;
  right: 10px;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #30679A;
  pointer-events: none;
}

.pl_custom_select:focus .pl_custom_caret:after {
  transform: rotate(180deg) !important;
  display: none !important;
}

.pl_select {
  position: relative;
}

/* custom select */
.pl_select-box {
  position: relative;
  display: block;
  width: 100%;
  font-size: 16px;
  border: 0px;
  border-radius: 0px;
  padding: 5px 0px;
  color: #000;
  height: 24px;
}

.pl_select-box__current {
  position: relative;
  cursor: pointer;
  outline: none;
  border-bottom: 1px solid #95989A;
}

.pl_select-box__current:focus {
  border-bottom: 2px solid #30679A;
}

.pl_select-box__current:focus+.pl_select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
  animation-name: none;
}

.pl_select-box__current:focus+.pl_select-box__list .pl_select-box__option {
  cursor: pointer;
}

.pl_select-box__current:focus .pl_select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.pl_select-box__icon {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 14px;
  transition: 0.2s ease;
}

.pl_select-box__value {
  display: flex;
}

.pl_select-box__input {
  display: none;
}

.pl_select-box__input:checked+.pl_select-box__input-text {
  display: block;
}

.pl_select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  background-color: #fff;
}

.pl_select-box__list {
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
  animation-name: HideList;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
  animation-timing-function: step-start;
  box-shadow: 0px 3px 6px #00000029;
}

.pl_select-box__list li label {
  font-family: "Montserrat";
  font-size: 18px;
  border-bottom: 1px solid #eee;
}

.pl_select-box__option {
  display: block;
  padding: 20px;
  background-color: #fff;
}

.pl_select-box__option:hover,
.pl_select-box__option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

.project_list_closed {
  background: #5A8BB9;
  color: #e4f1fb;
  padding: 5px 8px 6px 7px;
  border-radius: 50px;
  position: absolute;
  top: 15px;
  right: 27px;
  cursor: pointer;
  z-index: 999;
}

/* custon css of multi selector */
.pl_select .dropdown-heading {
  padding: 5px 0px 5px 10px;
  border: 0px !important;
  border-bottom: 1px solid #95989A !important;
  border-radius: 0px !important;
}

.pl_select .select-panel div input {
  display: none !important;
}

.pl_select .dropdown-content {
  height: auto;
  box-shadow: 0px 3px 6px #00000029 !important;
  border-top: 3px solid #30679A !important;
  border: 0px;
}

.pl_select .item-renderer input {
  position: absolute;
  opacity: 0;
}

.pl_select .item-renderer span {
  padding-left: 10px !important;
}

.pl_select .item-renderer input+span {
  position: relative;
  cursor: pointer;
  padding: 0;
  color: #000;
  font-size: 16px;
}

.pl_select .item-renderer input+span:before {
  position: absolute;
  top: 3;
  left: 0;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50px;
  border: 1px solid #95989A;
  background: #fff;
}

/* .item-renderer input:hover + span:before {
background: #f35429;
} */
.pl_select .item-renderer input:focus+span:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.pl_select .item-renderer input:checked+span:before {
  background-color: #346a9c;
  border-radius: 50px;
}

.pl_select .item-renderer input:disabled+span {
  color: #b8b8b8;
  cursor: auto;
}

.pl_select .item-renderer input:disabled+span:before {
  box-shadow: none;
  background: #ddd;
}

.pl_select .item-renderer input:checked+span:after {
  position: absolute;
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.pl_select .dropdown-content {
  max-height: 200px !important;
}

.pl_select .dropdown-content::-webkit-scrollbar-track {
  background-color: #EAF5FE;
}

.pl_select .dropdown-content::-webkit-scrollbar {
  width: 12px;
  background-color: #5A8BB9;
}

/* Buttons */
.pl_select .dropdown-content::-webkit-scrollbar-button:single-button {
  background-color: #5A8BB9;
  display: block;
  border-style: solid;
  height: 15px;
  width: 16px;
}

/* Up */
.pl_select .dropdown-content::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #fff transparent;
}

.pl_select .dropdown-content::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #fff transparent;
}

/* Down */
.pl_select .dropdown-content::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 6px 6px 0 6px;
  border-color: #fff transparent transparent transparent;
}

.pl_select .dropdown-content::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #000 transparent transparent transparent;
}

.pl_select .dropdown-content::-webkit-scrollbar-thumb {
  background-color: #5A8BB9;
  border: 1px solid #30679A;
}

.pl_select .multi-select .dropdown[aria-expanded="false"] .dropdown-heading-dropdown-arrow span {
  transform: rotate(180deg) !important;
}

.pl_select .dropdown-heading-dropdown-arrow span {
  border-color: transparent transparent rgb(48, 103, 154) !important;
  border-width: 0px 8px 8px !important;
}

.pl_select .select-panel>.select-item,
.pl_select .select-panel>div {
  display: none !important;
}

.pl_select .select-panel .select-item:hover {
  background-color: rgb(241, 241, 241) !important;
}

.pl_select .dropdown-heading-value,
.dropdown-heading {
  padding-left: 0px !important;
}

/* custon css of multi selector end */
/* width drop list */
.pl_width-selector-inner__control {
  font-size: 16px;
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: 0;
  border: none !important;
  background: transparent;
  width: 100%;
  overflow: hidden;
  padding: 0;
  height: auto;
  color: #000;
  border-bottom: 1px solid #95989A !important;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

.pl_width-selector-inner__control:focus {
  box-shadow: none !important;
  outline: none !important;
}

.pl_width-selector-inner__value-container {
  padding-left: 0px !important;
}

.pl_width-selector-inner__indicator {
  display: none !important;
}

.css-1okebmr-indicatorSeparator,
.css-tj5bde-Svg {
  display: none !important;
}

.pl_width-selector-inner__menu {
  margin-top: 0px !important;
  border-top: 2px solid #30679a;
  top: auto !important;
  bottom: 33px !important;
}

.pl_width-selector-inner__menu-list .pl_width-selector-inner__option {
  background: #fff !important;
  background-color: #fff !important;
  color: #000 !important;
  width: 100%;
  text-align: left;
}

.pl_width-selector-inner__menu-list .pl_width-selector-inner__option:hover,
.pl_width-selector-inner__menu-list .pl_width-selector-inner__option__is-selected {
  background-color: #f2f2f2 !important;
  background: #f2f2f2 !important;
}

.pl_width-selector-inner__control.css-e56m7-control:after,
.pl_width-selector-inner__control--is-focused:after {
  position: absolute !important;
  font-size: 23px !important;
  content: "\f0d7" !important;
  right: 14px;
  color: #30679a;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pl_width-selector-inner__control--is-focused.pl_width-selector-inner__control--menu-is-open:after {
  transform: rotate(180deg);
}

.pl_width-selector-inner__menu-list::-webkit-scrollbar-track {
  background-color: #aaa !important;
}

.pl_width-selector-inner__menu-list::-webkit-scrollbar {
  width: 12px;
  background-color: #5A8BB9 !important;
}

/* Buttons */
.pl_width-selector-inner__menu-list::-webkit-scrollbar-button:single-button {
  background-color: #5A8BB9;
  display: block;
  border-style: solid;
  height: 15px;
  width: 16px;
}

/* Up */
.pl_width-selector-inner__menu-list::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #fff transparent;
}

.pl_width-selector-inner__menu-list::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #fff transparent;
}

/* Down */
.pl_width-selector-inner__menu-list::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 6px 6px 0 6px;
  border-color: #fff transparent transparent transparent;
}

.pl_width-selector-inner__menu-list::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #000 transparent transparent transparent;
}

.pl_width-selector-inner__menu-list::-webkit-scrollbar-thumb {
  background-color: #5A8BB9;
  border: 1px solid #30679A;
}

/* end */

.width-13 {
  width: 16px;
  margin-right: 5px;
}












/* wide screen end */
@media (min-width:992px) and (max-width:1900px) {
  .pl_form_mx_width {
    max-width: 540px;
  }

  .pl_width-selector-inner__control {
    font-size: 9px !important;
    min-height: 24px !important;
  }

  .pl_theme_btn {
    margin: 0px;
  }

  .pl_signup_header h4 {
    font-size: 14px;
  }

  img[alt="Logo"] {
    width: 60px !important;
  }

  .pl_signup_form label {
    font-size: 9px;
  }

  .pl_signup_form input {
    font-size: 9px;
    padding: 2px 0px 5px;
    height: 15px;
  }

  .pl_signup_form .remember {
    font-size: 12px;
  }

  .pl_google_btn,
  .pl_fb_btn {
    font-size: 14px;
    padding: 6px 17px;
  }

  .pl_project_modals .pl_theme_btn {
    width: 100%;
    height: 24px;
    font-size: 9px;
  }

  .pl_modal_btn i {
    background: #5a8bb9;
    color: #fff;
    padding: 4px 5px;
    border-radius: 50px;
    font-size: 7px;
    margin-right: 5px;
  }

  .pl_theme_btn.pl_sub {
    width: 100%;
  }

  .pl_project_modals ul {
    padding: 0px 70px;
  }

  .pl_project_modals ul li {
    margin-right: 10px;
  }

  .pl_main_wrapper {
    height: 100vh;
  }

  .pl_signup_header {
    padding: 32px 37px 32px 55px;
    border-radius: 20px 20px 0px 0px;
  }

  .pl_signup_body {
    border-radius: 0px 0px 20px 20px;
    padding: 0px;
    margin-top: 0px;
  }

  .pl_signup_form {
    padding: 12px 82px 8px 70px;
  }

  .pl_signup_form .pl_remember {
    font-size: 12px;
    padding-top: 10px;
  }

  .pl_width-selector-inner__control,
  .pl_width-selector-inner__menu-list .pl_width-selector-inner__option {
    font-size: 14px;
  }

  .pl_project_scroll {
    max-height: 300px;
    padding: 6px 70px;
  }

  .pl_projects_list h4 {
    font-size: 9px;
  }

  .pl_projects_list i {
    font-size: 7px;
  }

  .pl_projects_list p {
    font-size: 8px;
  }

  .pl_project li {
    border-radius: 10px;
  }

  .pl_projects_list.pl_red {
    border-left: 10px solid #FF6161 !important;
  }

  .pl_projects_list.pl_orange {
    border-left: 10px solid #FFD44B !important;
  }

  .pl_projects_list {
    border-left: 10px solid #B8E08C;
    border-radius: 10px;
    padding: 18px 0px;
    padding-left: 10px;
  }

  .pl_user_label {
    font-size: 10px !important;
    left: -9px;
    top: 42% !important;
  }

  .pl_google_btn img,
  .pl_fb_btn img {
    width: 20px !important;
  }

  .pl_hidden_pass {
    width: 15px;
  }

  .pl_signup_form .form-group {
    margin-bottom: 0px;
  }

  .custom-control {
    margin-top: 15px;
  }

  .pl_signup_form_main {
    margin: 30px 0px;
  }

  .width-13 {
    width: 16px;
  }
}

/* wide screen end */
/* desktop screen */
@media (min-width:768px) and (max-width:991px) {

  .pl_form_mx_width {
    max-width: 540px;
  }

  .pl_width-selector-inner__control {
    font-size: 9px !important;
    min-height: 24px !important;
  }

  .pl_theme_btn {
    margin: 0px;
  }

  .pl_signup_header h4 {
    font-size: 14px;
  }

  img[alt="Logo"] {
    width: 60px !important;
  }

  .pl_signup_form label {
    font-size: 9px;
  }

  .pl_signup_form input {
    font-size: 9px;
    padding: 2px 0px 5px;
    height: 15px;
  }

  .pl_signup_form .remember {
    font-size: 12px;
  }

  .pl_google_btn,
  .pl_fb_btn {
    font-size: 14px;
    padding: 6px 17px;
  }

  .pl_project_modals .pl_theme_btn {
    width: 100%;
    height: 24px;
    font-size: 9px;
  }

  .pl_modal_btn i {
    background: #5a8bb9;
    color: #fff;
    padding: 4px 5px;
    border-radius: 50px;
    font-size: 7px;
    margin-right: 5px;
  }

  .pl_theme_btn.pl_sub {
    width: 100%;
  }

  .pl_project_modals ul {
    padding: 0px 70px;
  }

  .pl_project_modals ul li {
    margin-right: 10px;
  }

  .pl_main_wrapper {
    height: 100vh;
  }

  .pl_signup_header {
    padding: 32px 37px 32px 55px;
    border-radius: 20px 20px 0px 0px;
  }

  .pl_signup_body {
    border-radius: 0px 0px 20px 20px;
    padding: 0px;
    margin-top: 0px;
  }

  .pl_signup_form {
    padding: 12px 82px 8px 70px;
  }

  .pl_signup_form .pl_remember {
    font-size: 12px;
    padding-top: 10px;
  }

  .pl_width-selector-inner__control,
  .pl_width-selector-inner__menu-list .pl_width-selector-inner__option {
    font-size: 14px;
  }

  .pl_project_scroll {
    max-height: 300px;
    padding: 6px 70px;
  }

  .pl_projects_list h4 {
    font-size: 9px;
  }

  .pl_projects_list i {
    font-size: 7px;
  }

  .pl_projects_list p {
    font-size: 8px;
  }

  .pl_project li {
    border-radius: 10px;
  }

  .pl_projects_list.pl_red {
    border-left: 10px solid #FF6161 !important;
  }

  .pl_projects_list.pl_orange {
    border-left: 10px solid #FFD44B !important;
  }

  .pl_projects_list {
    border-left: 10px solid #B8E08C;
    border-radius: 10px;
    padding: 18px 0px;
    padding-left: 10px;
  }

  .pl_user_label {
    font-size: 10px !important;
    left: -9px;
    top: 42% !important;
  }

  .pl_google_btn img,
  .pl_fb_btn img {
    width: 18px !important;
  }

  .pl_hidden_pass {
    width: 15px;
  }

  .pl_signup_form .form-group {
    margin-bottom: 0px;
  }

  .custom-control {
    margin-top: 15px;
  }

  .pl_signup_form_main {
    margin: 30px 0px;
  }

  .width-13 {
    width: 16px;
  }
}

/* desktop screen end */
/* tab screen */
@media (min-width:567px) and (max-width:768px) {

  .pl_form_mx_width {
    max-width: 540px;
  }

  .pl_width-selector-inner__control {
    font-size: 9px !important;
    min-height: 24px !important;
  }

  .pl_theme_btn {
    margin: 0px;
  }

  .pl_signup_header h4 {
    font-size: 14px;
  }

  img[alt="Logo"] {
    width: 60px !important;
  }

  .pl_signup_form label {
    font-size: 9px;
  }

  .pl_signup_form input {
    font-size: 9px;
    padding: 2px 0px 5px;
    height: 15px;
  }

  .pl_signup_form .remember {
    font-size: 12px;
  }

  .pl_google_btn,
  .pl_fb_btn {
    font-size: 14px;
    padding: 6px 17px;
  }

  .pl_project_modals .pl_theme_btn {
    width: 100%;
    height: 25px;
    font-size: 9px;
  }

  .pl_modal_btn i {
    background: #5a8bb9;
    color: #fff;
    padding: 4px 5px;
    border-radius: 50px;
    font-size: 7px;
    margin-right: 5px;
  }

  .pl_theme_btn.pl_sub {
    width: 100%;
  }

  .pl_project_modals ul {
    padding: 0px 70px;
  }

  .pl_project_modals ul li {
    margin-right: 10px;
  }

  .pl_main_wrapper {
    height: 100vh;
  }

  .pl_signup_header {
    padding: 32px 37px 32px 55px;
    border-radius: 20px 20px 0px 0px;
  }

  .pl_signup_body {
    border-radius: 0px 0px 20px 20px;
    padding: 0px;
    margin-top: 0px;
  }

  .pl_signup_form {
    padding: 12px 82px 8px 70px;
  }

  .pl_signup_form .pl_remember {
    font-size: 12px;
    padding-top: 10px;
  }

  .pl_width-selector-inner__control,
  .pl_width-selector-inner__menu-list .pl_width-selector-inner__option {
    font-size: 14px;
  }

  .pl_project_scroll {
    max-height: 300px;
    padding: 6px 70px;
  }

  .pl_projects_list h4 {
    font-size: 9px;
  }

  .pl_projects_list i {
    font-size: 7px;
  }

  .pl_projects_list p {
    font-size: 8px;
  }

  .pl_project li {
    border-radius: 10px;
  }

  .pl_projects_list.pl_red {
    border-left: 10px solid #FF6161 !important;
  }

  .pl_projects_list.pl_orange {
    border-left: 10px solid #FFD44B !important;
  }

  .pl_projects_list {
    border-left: 10px solid #B8E08C;
    border-radius: 10px;
    padding: 18px 0px;
    padding-left: 10px;
  }

  .pl_user_label {
    font-size: 10px !important;
    left: -9px;
    top: 42% !important;
  }

  .pl_google_btn img,
  .pl_fb_btn img {
    width: 18px !important;
  }

  .pl_hidden_pass {
    width: 15px;
  }

  .pl_signup_form .form-group {
    margin-bottom: 0px;
  }

  .custom-control {
    margin-top: 15px;
  }

  .width-13 {
    width: 16px;
  }
}

/* tab screen end */
/* mobile screen */
@media (min-width:0px) and (max-width:567px) {


  .pl_form_mx_width {
    max-width: 540px;
  }

  .pl_width-selector-inner__control {
    font-size: 9px !important;
    min-height: 24px !important;
  }

  .pl_theme_btn {
    margin: 0px;
  }

  .pl_signup_header h4 {
    font-size: 14px;
  }

  img[alt="Logo"] {
    width: 60px !important;
  }

  .pl_signup_form label {
    font-size: 9px;
  }

  .pl_signup_form input {
    font-size: 9px;
    padding: 2px 0px 5px;
    height: 15px;
  }

  .pl_signup_form .remember {
    font-size: 12px;
  }

  .pl_google_btn,
  .pl_fb_btn {
    font-size: 14px;
    padding: 6px 17px;
  }

  .pl_project_modals .pl_theme_btn {
    width: 100%;
    height: 24px;
    font-size: 9px;
  }

  .pl_modal_btn i {
    background: #5a8bb9;
    color: #fff;
    padding: 4px 5px;
    border-radius: 50px;
    font-size: 7px;
    margin-right: 5px;
  }

  .pl_theme_btn.pl_sub {
    width: 100%;
  }

  .pl_project_modals ul {
    padding: 0px 50px;
  }

  .pl_project_modals ul li {
    margin-right: 10px;
  }

  .pl_main_wrapper {
    height: 100vh;
  }

  .pl_signup_header {
    padding: 32px 37px 32px 55px;
    border-radius: 20px 20px 0px 0px;
  }

  .pl_signup_body {
    border-radius: 0px 0px 20px 20px;
    padding: 0px;
    margin-top: 0px;
  }

  .pl_signup_form {
    padding: 8px 40px;
  }

  .pl_signup_form .pl_remember {
    font-size: 12px;
    padding-top: 10px;
  }

  .pl_width-selector-inner__control,
  .pl_width-selector-inner__menu-list .pl_width-selector-inner__option {
    font-size: 14px;
  }

  .pl_project_scroll {
    max-height: 300px;
    padding: 6px 50px;
  }

  .pl_projects_list h4 {
    font-size: 9px;
  }

  .pl_projects_list i {
    font-size: 7px;
  }

  .pl_projects_list p {
    font-size: 8px;
  }

  .pl_project li {
    border-radius: 10px;
  }

  .pl_projects_list.pl_red {
    border-left: 10px solid #FF6161 !important;
  }

  .pl_projects_list.pl_orange {
    border-left: 10px solid #FFD44B !important;
  }

  .pl_projects_list {
    border-left: 10px solid #B8E08C;
    border-radius: 10px;
    padding: 18px 0px;
    padding-left: 10px;
  }

  .pl_user_label {
    font-size: 10px !important;
    left: -9px;
    top: 42% !important;
  }

  .pl_google_btn img,
  .pl_fb_btn img {
    width: 18px !important;
  }

  .pl_hidden_pass {
    width: 15px;
  }

  .pl_signup_form .form-group {
    margin-bottom: 0px;
  }

  .custom-control {
    margin-top: 15px;
  }

  .pl_order-xs-2 {
    order: 2;
  }

  .pl_order-xs-2 h4 {
    text-align: center;
  }

  .pl_order-xs-1 {
    order: 1;
    text-align: center;
  }

  .pl_order-xs-1 img {
    float: initial !important;
    margin-bottom: 10px;
  }

  .pl_signup_header {
    padding: 32px 37px 32px 37px;
  }

  .width-13 {
    width: 16px;
  }
}

.pl_center {
  text-align: center;
}

@media (min-width:0px) and (max-width:400px) {
  .pl_width-selector-inner__control {
    font-size: 9px !important;
    min-height: 24px !important;
  }

  .pl_order-xs-2 {
    order: 2;
  }

  .pl_order-xs-2 h4 {
    text-align: center;
  }

  .pl_order-xs-1 {
    order: 1;
    text-align: center;
  }

  .pl_order-xs-1 img {
    float: initial !important;
    margin-bottom: 10px;
  }

  .pl_signup_header {
    padding: 32px 37px 32px 37px;
  }

  .pl_signup_body {
    padding: 0px;
  }
}

/* mobile screen end */